@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&display=swap');

 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
    transition: all .5s ease-in-out;
 }

 :root {
  /* * -------------------------- PAGE COLORS ------------------------ */   

    --clr-accent-main: #54E6AF;
    --clr-neutral-700: #121725;
    --clr-neutral-600: #2C344B;
    --clr-neutral-500: #5A668A;
    --clr-neutral-400: #C2CBE5;
    --clr-neutral-200: #FFF;

 /* * -------------------------- MOBILE Font SIZES ------------------------ */
    
    --fs-700: 1.625rem;     /* 26px */
    --fs-500: .9375rem;     /* 15px */
    --fs-400: .875rem;      /* 14px */ 

    --lh-700: 2.375rem;     /* 38px */
    --lh-500: 1.5625rem;    /* 25px */
    --lh-400: 1.75rem;      /* 28px */
}


/* * -------------------------- TABLET Font SIZES ------------------------ */

@media screen and (min-width: 37.5em) {
    :root {
        --fs-700: 3rem;         /* 48px */
        --fs-500: 1.125rem;     /* 18px */

        --lh-700: 3.5rem;       /* 56px */
        --lh-500: 1.75rem;      /* 28px */
    }   
}

/* * -------------------------- LAPTOP Font SIZES ------------------------ */

@media screen and (min-width: 75em) {
    :root {
        --fs-700: 3.25rem;      /* 52px */

        --lh-700: 3.875rem;     /* 62px */
    }
}

body {
    background-color: var(--clr-neutral-700);
    min-width: 375px;
}

h1 {
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-neutral-200);
    font-weight: 100;
}

p {
    font-size: var(--fs-600);
    line-height: var(--lh-500);
    text-align: center;
    color: var(--clr-neutral-400);
    font-weight: 100;
}


/* * -------------------------- ----------------- ------------------------ */

main {
    margin-inline: 1.5rem;
}

.hero-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .2;
}

.pod-logo {
    display: block;
    margin-block: 3.875rem 3.5625rem;
    width: 135px;
    margin-inline: auto;
}

h1 {
    margin-block: 1rem;
}

.green {
    color: #54E6AF;
}

p {
    margin-block: 1rem;
}

.media-icon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2.0625rem 3rem;
    max-width: 536px;

}
.media-icon-wrap > img:nth-child(2) {
    width: 16%;
  }

.media-icon-wrap > img:nth-child(4) {
    width: 22%;
  }  

.media-icon {
    height: auto;
    width: 20%;
}

.email-input-wrap {
    width: 100%;
    margin-inline: auto;
}
.email-input-wrap > * {
    display: block;
    width: 100%;
    margin-inline: auto;
}

.input-text {
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    font-weight: 400;
}

.text-field {
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-200);
    border: solid 0px;
    border-radius: 28px;
    padding-block: .5625rem;
    padding-inline: 2rem;
    margin-block: 1rem;
}

.button {
    background-color: #54E6AF;
    padding-block: .5625rem;
    border-radius: 28px;
    color: var(--clr-neutral-700);
    cursor: pointer;
    text-align: center;
    transition: background-color .3s ease-out;
}

.button:hover {
    background-color: #B3FFE2;
}

.button:active {
    background-color: #fff;
}

.error-msg {
    margin: 0px;
    color: #FB3E3E;
    transition: color 0s ease-out;
}